<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.demo.dao.MajorMapper" >
  <resultMap id="BaseResultMap" type="com.demo.entity.Major" >
    <id column="major_id" property="majorId" jdbcType="VARCHAR" />
    <result column="major_name" property="majorName" jdbcType="VARCHAR" />
    <result column="college_name" property="collegeName" jdbcType="VARCHAR" />

    <association property="student" javaType="com.demo.entity.Student">
      <id column="student_id" property="studentId" jdbcType="VARCHAR" />
      <result column="person_id" property="personId" jdbcType="VARCHAR" />
      <result column="student_name" property="studentName" jdbcType="VARCHAR" />
      <result column="student_pwd" property="studentPwd" jdbcType="VARCHAR" />
      <result column="student_sex" property="studentSex" jdbcType="VARCHAR" />
      <result column="student_birthday" property="studentBirthday" jdbcType="VARCHAR" />
      <result column="major_id" property="majorId" jdbcType="VARCHAR" />
      <result column="student_tel" property="studentTel" jdbcType="VARCHAR" />
      <result column="teacher_id" property="teacherId" jdbcType="VARCHAR" />
    </association>

    <collection property="teacher" ofType="com.demo.entity.Teacher">
      <id column="teacher_id" property="teacherId" jdbcType="VARCHAR" />
      <result column="teacher_name" property="teacherName" jdbcType="VARCHAR" />
      <result column="teacher_pwd" property="teacherPwd" jdbcType="VARCHAR" />
      <result column="major_id" property="majorId" jdbcType="VARCHAR" />
      <result column="teacher_surplus" property="teacherSurplus" jdbcType="INTEGER" />
      <result column="collage_surplus" property="collageSurplus" jdbcType="INTEGER" />
    </collection>
  </resultMap>
  <sql id="Base_Column_List" >
    major_id, major_name, college_name
  </sql>
  <insert id="insertSelective" parameterType="com.demo.entity.Major" >
    insert into major
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="majorId != null" >
        major_id,
      </if>
      <if test="majorName != null" >
        major_name,
      </if>
      <if test="collegeName != null" >
        college_name,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="majorId != null" >
        #{majorId,jdbcType=VARCHAR},
      </if>
      <if test="majorName != null" >
        #{majorName,jdbcType=VARCHAR},
      </if>
      <if test="collegeName != null" >
        #{collegeName,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.demo.entity.Major" >
    update major
    <set >
      <if test="majorName != null" >
        major_name = #{majorName,jdbcType=VARCHAR},
      </if>
      <if test="collegeName != null" >
        college_name = #{collegeName,jdbcType=VARCHAR},
      </if>
    </set>
    where major_id = #{majorId,jdbcType=VARCHAR}
  </update>
</mapper>