<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.demo.dao.ManagerMapper" >
  <resultMap id="BaseResultMap" type="com.demo.entity.Manager" >
    <id column="manager_name" property="managerName" jdbcType="VARCHAR" />
    <result column="manager_pwd" property="managerPwd" jdbcType="VARCHAR" />
    <result column="manager_role" property="managerRole" jdbcType="INTEGER" />
    <result column="college_name" property="collegeName" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    manager_name, manager_pwd, manager_role, college_name
  </sql>
  <insert id="insertSelective" parameterType="com.demo.entity.Manager" >
    insert into manager
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="managerName != null" >
        manager_name,
      </if>
      <if test="managerPwd != null" >
        manager_pwd,
      </if>
      <if test="managerRole != null" >
        manager_role,
      </if>
      <if test="collegeName != null" >
        college_name,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="managerName != null" >
        #{managerName,jdbcType=VARCHAR},
      </if>
      <if test="managerPwd != null" >
        #{managerPwd,jdbcType=VARCHAR},
      </if>
      <if test="managerRole != null" >
        #{managerRole,jdbcType=INTEGER},
      </if>
      <if test="collegeName != null" >
        #{collegeName,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.demo.entity.Manager" >
    update manager
    <set >
      <if test="managerPwd != null" >
        manager_pwd = #{managerPwd,jdbcType=VARCHAR},
      </if>
      <if test="managerRole != null" >
        manager_role = #{managerRole,jdbcType=INTEGER},
      </if>
      <if test="collegeName != null" >
        college_name = #{collegeName,jdbcType=VARCHAR},
      </if>
    </set>
    where manager_name = #{managerName,jdbcType=VARCHAR}
  </update>
</mapper>