<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.demo.dao.TeacherMapper" >
  <resultMap id="BaseResultMap" type="com.demo.entity.Teacher" >
    <id column="teacher_id" property="teacherId" jdbcType="VARCHAR" />
    <result column="teacher_name" property="teacherName" jdbcType="VARCHAR" />
    <result column="teacher_pwd" property="teacherPwd" jdbcType="VARCHAR" />
    <result column="major_id" property="majorId" jdbcType="VARCHAR" />
    <result column="teacher_surplus" property="teacherSurplus" jdbcType="INTEGER" />
    <result column="collage_surplus" property="collageSurplus" jdbcType="INTEGER" />
  </resultMap>
  <resultMap id="ResultMapWithBLOBs" type="com.demo.entity.Teacher" extends="BaseResultMap" >
    <result column="teacher_introduction" property="teacherIntroduction" jdbcType="LONGVARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    teacher_id, teacher_name, teacher_pwd, major_id, teacher_surplus, collage_surplus
  </sql>
  <sql id="Blob_Column_List" >
    teacher_introduction
  </sql>
  <insert id="insertSelective" parameterType="com.demo.entity.Teacher" >
    insert into teacher
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="teacherId != null" >
        teacher_id,
      </if>
      <if test="teacherName != null" >
        teacher_name,
      </if>
      <if test="teacherPwd != null" >
        teacher_pwd,
      </if>
      <if test="majorId != null" >
        major_id,
      </if>
      <if test="teacherSurplus != null" >
        teacher_surplus,
      </if>
      <if test="collageSurplus != null" >
        collage_surplus,
      </if>
      <if test="teacherIntroduction != null" >
        teacher_introduction,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="teacherId != null" >
        #{teacherId,jdbcType=VARCHAR},
      </if>
      <if test="teacherName != null" >
        #{teacherName,jdbcType=VARCHAR},
      </if>
      <if test="teacherPwd != null" >
        #{teacherPwd,jdbcType=VARCHAR},
      </if>
      <if test="majorId != null" >
        #{majorId,jdbcType=VARCHAR},
      </if>
      <if test="teacherSurplus != null" >
        #{teacherSurplus,jdbcType=INTEGER},
      </if>
      <if test="collageSurplus != null" >
        #{collageSurplus,jdbcType=INTEGER},
      </if>
      <if test="teacherIntroduction != null" >
        #{teacherIntroduction,jdbcType=LONGVARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.demo.entity.Teacher" >
    update teacher
    <set >
      <if test="teacherName != null" >
        teacher_name = #{teacherName,jdbcType=VARCHAR},
      </if>
      <if test="teacherPwd != null" >
        teacher_pwd = #{teacherPwd,jdbcType=VARCHAR},
      </if>
      <if test="majorId != null" >
        major_id = #{majorId,jdbcType=VARCHAR},
      </if>
      <if test="teacherSurplus != null" >
        teacher_surplus = #{teacherSurplus,jdbcType=INTEGER},
      </if>
      <if test="collageSurplus != null" >
        collage_surplus = #{collageSurplus,jdbcType=INTEGER},
      </if>
      <if test="teacherIntroduction != null" >
        teacher_introduction = #{teacherIntroduction,jdbcType=LONGVARCHAR},
      </if>
    </set>
    where teacher_id = #{teacherId,jdbcType=VARCHAR}
  </update>
</mapper>